**/NSM_MODELS
**/DOSMA
**/DOSMA_WEIGHTS
**/nsm
**/pymskt
DEPENDENCIES/*
!DEPENDENCIES/nnunet_knee_inference

test/

dosma_knee_seg_orig.py
config.json

*_.py
test_commands.txt


**/*.pyc
**/__pycache__
*.DS_Store
